@import "./notice.css";
@import "./button.css";
@import "./tag.css";
@import "./card.css";
@import "./nav.css";
@import "./flex.css";

.fx-text-title--blue-france {
  color: var(--text-title-blue-france);
}

.fx-text-title--grey {
  color: var(--text-title-grey);
}

.fx-text--uppercase {
  text-transform: uppercase;
}

.fx-spacer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Border radius utilities */
.fx-radius--none {
  border-radius: 0;
}

.fx-radius--sm {
  border-radius: 0.25rem;
}

.fx-radius--md {
  border-radius: 0.5rem;
}
