@import "./animations.css";
@import "./table.css";
@import "./layout.css";
@import "./dsfr-extensions/index.css";
@import "./icon-box.css";
@import "./utility.css";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.fr-logo.fx-footer-logo {
  margin: -0.75rem !important;
  padding: 0.75rem !important;
  font-size: 0.7875rem !important;
}

.xfr-simple-card-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  LI {
    border: 1px solid var(--border-default-grey);
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.fr-btn--menu-user::before {
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNNCAyMmE4IDggMCAxIDEgMTYgMEg0Wm04LTljLTMuMzE1IDAtNi0yLjY4NS02LTZzMi42ODUtNiA2LTYgNiAyLjY4NSA2IDYtMi42ODUgNi02IDZaIi8+PC9zdmc+") !important;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNNCAyMmE4IDggMCAxIDEgMTYgMEg0Wm04LTljLTMuMzE1IDAtNi0yLjY4NS02LTZzMi42ODUtNiA2LTYgNiAyLjY4NSA2IDYtMi42ODUgNi02IDZaIi8+PC9zdmc+") !important;
}

.fr-badge[class^="fr-icon-"]::before {
  content: "" !important;
}

.fr-sidemenu__btn[class^="fr-icon-"]::before,
.fr-sidemenu__link.fr-side-icon[class*="fr-icon-"]::before {
  content: "" !important;
  font-weight: 700;
  --icon-size: 1rem;
  margin-right: 0.5rem;
  width: var(--icon-size);
  position: relative;
  left: 0;
  top: 0;
}

.highlighted > STRONG {
  color: var(--text-action-high-blue-france);
}
.fr-tooltip .highlighted-field:not(:last-child) {
  border-bottom: 1px solid var(--border-default-grey);
  padding: 0.5rem;
}
.highlighted-field {
  padding: 0.5rem;
}
.highlighted-title {
  font-weight: bold;
}
