.fx-shadow-border-bottom {
  box-shadow: 0 1px 0 0 var(--border-default-grey);
}
.fx-shadow-border-top {
  box-shadow: 0 -1px 0 0 var(--border-default-grey);
}

.fx-width-100 {
  width: 100%;
}

.fx-height-100 {
  height: 100%;
}

.fx-width-fit-content {
  width: fit-content;
}
.fx-width-max-content {
  width: max-content;
}

.fx-text--monospace {
  font-family: "Courier New", monospace;
}

.fx-reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fx-separated-list > *:not(:first-child) {
  box-shadow: 0 -1px 0 0 var(--border-default-grey);
}
.fr-text-black-white--grey {
  fill: var(--text-black-white-grey);
}

.fx-text--logo {
  letter-spacing: 0.1rem;
}

.fx-clamp,
.fx-clamp-1,
.fx-clamp-2,
.fx-clamp-3,
.fx-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.fx-clamp-2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.fx-clamp-3 {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.fx-clamp-4 {
  line-clamp: 4;
  -webkit-line-clamp: 4;
}
