.debounced-input-wrapper {
  min-width: 30rem;
  outline-offset: unset;
  input {
    width: 100% !important;
  }

  input:focus-visible {
    outline: none !important;
  }

  &:focus-within {
    outline: 2px solid #0a76f6;
    outline-offset: 0;
  }
}
