$icons: ("intersect", "/icons/custom/intersect.svg") ("union", "/icons/custom/union.svg")
    ("corner-down-right", "/icons/custom/corner-down-right.svg")
    ("file-copy", "/icons/custom/file-copy.svg")
    ("check-double", "/icons/custom/check-double.svg") ("hal", "/icons/custom/hal.svg")
    ("wikipedia", "/icons/custom/wikipedia.svg")
    ("expand-up-down-line", "/icons/custom/expand-up-down-line.svg");

@each $name, $mask in $icons {
    .fr-icon-#{$name}::before,
    .fr-icon-#{$name}::after {
        -webkit-mask-image: url(#{$mask});
        mask-image: url(#{$mask});
    }
}

.icon-up::after,
.icon-up::before {
    background: -webkit-linear-gradient(
        rgb(146, 146, 146) 50%,
        currentColor 50%
    );
}

.icon-down::after,
.icon-down::before {
    background: -webkit-linear-gradient(
        currentColor 50%,
        rgb(146, 146, 146) 50%
    );
}
