main > .fr-container--fluid {
  overflow: visible !important;
}

.fx-col-content > .fr-container .fx-fullwidth-bg {
  margin-left: calc(50% - 50cqi);
  margin-right: calc(50% - 50cqi);
  padding-left: calc((100cqi - 100%) / 2);
  padding-right: calc((100cqi - 100%) / 2);
}

.fx-col-sidemenu {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
  @media (width >= 62rem) {
    display: block;
    flex: 0 0 300px;
    max-width: 300px;
  }
}

.fx-col-content {
  container-type: inline-size;
  container-name: fx-content;
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 100%;
  @media (width >= 62rem) {
    flex: 1 1 0%;
    max-width: none;
    min-width: 0;
  }
}

.fx-col-content > .fr-container {
  padding-bottom: 3rem;
  @container fx-content (width >= 78rem) {
    margin: auto;
    width: min(90%, 96rem);
    min-height: 100%;
    max-width: 100%;
  }
}
